:root {
  --light-blue: rgb(232, 228, 247);
  --dark-blue: rgb(0, 0, 128);
}

body{
  background-color: var(--light-blue);
  text-align:center;
  margin-top:100px;
}

body, button, textarea{
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, th{
  color: var(--dark-blue);
}

button{
  margin-top: 30px;
  font-weight:700;
}

table{
  margin:auto;
  border-spacing: 5px;
}

th{
  font-size:1.5em;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid black;
}

td{
   text-align: left;
}
